/*
 * html template
 * this file is part of the Semantik templates
 * https://waf.io/semantik.html
 *
 * Permission is granted to redistribute copies and
 * derivated works of this file (def.css) without
 * any restrictions.
 */
html  {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: "DejaVu Sans", sans-serif;
	font-size: 14px;
	margin: 0px;
	background-color: #e2eed7;
	padding: 0px;
}

.contenu {
	max-width: 1000px;
	min-height: 100vh;
	padding: 2px 15px 50px 15px;
	margin: 0px auto;
	background-color: white;
	border-style: solid;
	border-width : 1px;
	border-color : #3e8d21;
}

.show_niv {
	margin: 7px;
	color: #3e8d21;
}

h1 { font-size: 18px; margin-left: 0px; margin-top: 30px; }
h2 { font-size: 16px; margin-left: 20px; margin-top: 20px;}
h3 { font-size: 15px; margin-left: 54px;}
h4 { font-size: 14px; margin-left: 100px;}

p {
	margin-left: 62px;
	margin-right: 62px;
	text-align: justify;
}

ul {
	margin-left: 35px;
	margin-right: 62px;
}

ol {
	margin-left: 38px;
	margin-right: 62px;
}

a:link {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #3e8d21;
	text-decoration: underline;
}

a:active {
	color: #3e8d21;
	text-decoration: underline;
}

.imgcenter {
	display: block;
	max-height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.head_code {
	margin: 30px 62px 0px;
	background: #cdcdcd;
	padding: 8px 10px;
}

.pygments_code {
	font-family: monospace;
	margin: 0px 62px 30px;
	padding: 8px 10px;
	border: 1px solid #cdcdcd;
}

.sem_table {
	min-width: 50%;
	font-family: "DejaVu Sans", sans-serif;
	border-collapse: collapse;
	margin: 30px auto;
}

.sem_table td, .sem_table th {
	border: 1px solid #cdcdcd;
	padding: 6px 8px;
}

.sem_table tr:first-child th {
	text-align: center;
	background: #f7f7f7;
}

.sem_table tbody td {
	text-align: center;
	padding: 8px 8px;
}

.sem_table tbody th {
	background: #f7f7f7;
	text-align: left;
	padding: 8px 8px;
}

.sem_table caption {
	caption-side: top;
	padding: 8px 10px;
	background: #cdcdcd;
	border: 1px solid #cdcdcd;
	border-bottom-width: 0;
}
