[Desktop Entry]
Name=Semantik
Exec=semantik %f
GenericName=Mind mapping software
GenericName[fr]=Logiciel de cartes mentales
GenericName[ru]=Ассоциативные карты
GenericName[tr]=Zihin haritalama uygulaması
GenericName[el]=Λογισμικό χαρτογράφησης ιδεών
GenericName[pl]=Program do tworzenia map myśli
GenericName[cy]=Meddalwedd mapio'r meddwl
GenericName[et]=Mõttekaarditarkvara
GenericName[hu]=Gondolattérkép-készítő
Comment=A mind-mapping tool for KDE
Comment[ru]=Программа для создания диаграмм связей для KDE
Comment[cs]=Nástroj na vytváření myšlenkových map pro KDE
Comment[fr]=Cartes mentales pour KDE
Type=Application
Terminal=false
Icon=semantik
MimeType=application/x-semantik;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Office;
