[Desktop Entry]
Name=Semantik Diagrams
Name[ru]=Диаграммы Semantik
Exec=semantik-d %F
GenericName=Manage Semantik diagrams
GenericName[fr]=Gestionnaire de diagrammes pour Semantik
GenericName[ru]=Управление диаграммами Semantik
Comment=A tool for editing and organizing Semantik diagrams
Comment[fr]=Un outil pour éditer les diagrammes pour Semantik
Comment[ru]=Утилита для редактирования и организации диаграмм Semantik
Type=Application
Terminal=false
Icon=semantik-d
MimeType=application/x-semantikd;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Office;
